html {
  font-family: "Ubuntu", sans-serif;
}
#intro {
  max-width: 600px;
}
#intro .profile-picture {
  width: 100%;
  max-width: 200px;
}
#intro .description {
  flex-direction: column;
  justify-content: space-around;
}
#intro .description .image {
  margin: auto;
  max-width: 400px;
}
#intro .description h2 {
  font-weight: 500;
}
#intro .description .level {
  width: 80px;
}
#intro .description .level a {
  color: #4a4a4a;
}
#projects {
  max-width: 1200px;
}
.center-block {
  justify-content: center;
  align-items: center;
  display: flex;
}
.margin-1-auto {
  margin: 1rem auto;
}
.padding-1 {
  padding: 1rem;
}
