body {
    background: url("../images/home-background-canoe.jpg") top left no-repeat ;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
#wrapper {
    margin-top: 20px;
    background: rgba(255,255,255,0);
    max-width: 1200px; 
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
#header {
    position: fixed;
    top:33%;
    left: 69%;
    transform: translateX(-50%);
    /*margin-bottom: 20px;
    background: rgba(255,255,255,0.9);*/
}
#signature {
    padding-left: 20px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#tagline {
    display: none;
    margin-top: 10px;
    text-align: center;
    color: black;
    letter-spacing: 0.91px;
    font-weight: bold;
    font-size: 18px;
}
nav {
    background-color: transparent !important;
    border: 0px !important;
}
#specialties li.active a,
#specialties li a:hover {
    color: #BC0000 !important;
    background-color: transparent !important;
    border: 0px !important;
    font-weight: normal !important;
}
#specialties{
    float: none;
    list-style-type: none;
    font-size: 20px;
    text-align: center;
    padding-left: 0;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
#specialties li {
    float: none;
    display: block;
}
#specialties li a {
padding-bottom: 10px;
padding-top: 10px;
    //color: #2C3539;
color: black;
}
#social-icons {
    font-size: 14px;
    margin-top: 15px;
    text-align: center;
}
#social-icons a {
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}
#content-row {
}
.content-box {
    margin-top: 27%;
    margin-bottom: 47%;
    background-color: white;
    opacity: .8;
    padding: 10px;
    //margin-left: 20px;
}
.content-box ul {
    list-style-type: none;
    padding-left: 5px;
    max-width: 50%;
}
